/* Color Theme Swatches in Hex */
$Ural-Music-Night-1-hex: #035aa6;
$Ural-Music-Night-2-hex: #f0f1f2;
$Ural-Music-Night-3-hex: #d97904;
$Ural-Music-Night-4-hex: #bf0404;
$Ural-Music-Night-5-hex: #0d0d0d;

/* Color Theme Swatches in RGBA */
$Ural-Music-Night-1-rgba: rgba(3, 89, 165, 1);
$Ural-Music-Night-2-rgba: rgba(239, 241, 242, 1);
$Ural-Music-Night-3-rgba: rgba(216, 121, 4, 1);
$Ural-Music-Night-4-rgba: rgba(191, 3, 3, 1);
$Ural-Music-Night-5-rgba: rgba(12, 12, 12, 1);

/* Color Theme Swatches in HSLA */
$Ural-Music-Night-1-hsla: hsla(208, 96, 33, 1);
$Ural-Music-Night-2-hsla: hsla(202, 8, 94, 1);
$Ural-Music-Night-3-hsla: hsla(33, 96, 43, 1);
$Ural-Music-Night-4-hsla: hsla(0, 96, 38, 1);
$Ural-Music-Night-5-hsla: hsla(0, 0, 5, 1);
